body{
    font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
    text-decoration: none;
}
button{
    font-family: inherit;
    cursor: pointer;
    border: none;
}
.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}
.header .container{
    display: flex;
}

.navigation {
    display: flex;
}

.logo {
    display: flex;
    gap: 16px;
    margin-right: 237px;
    align-items: center;
    padding: 26px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}
.nav-list-link {
    padding: 26px 0;
    display: block;
}

.buttons-list {
    margin-left: auto;
    display: flex;
    gap: 21px;
    align-items: center;
}

.list-butn-sing-in {
    width: 105px;
    height: 42px;
    font-weight: 600;
    font-size: 16px; 
    border-radius: 4px;
    color:#173A56;
    background-color: #fff;
    border: 1px solid #BCD0E5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.list-butn-sing-up{
    width: 105px;
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #02897A;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 89px;
}
.container.hero{
    width: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 35px;
    margin-right: 0;
}
.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #22343d;
    margin-bottom: 45px;
}
.hero-btn-list{
    display: flex;
}
.hero-lidt-btn-get {
    border-radius: 4px;
        min-width: 178px;
        height: 53px;
        font-weight: 700;
        font-size: 16px;
    background-color: #02897A;
    color: #FFFFFF;
    margin-right: 30px;
}
.hero-lidt-btn-watch {
    font-weight: 600;
    min-width: 178px;
    height: 53px;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: transparent;
    color: #02897a;
    }
.hero-icon-triangle{
    fill:#02897A;
    margin-right: 8.66px;
}
.hero-image{
margin-right: auto;
}

.product{
    margin: 0 auto 54px;
}
.product-title{
    width: 539px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    text-align: center;
    margin: 0 auto 42px;
}
.product-list{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.product-column{
flex-basis: calc((100% - 3 * 30px) / 4);
}
.produst-icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 19px;
    margin-bottom: 26px;
}
.produst-icon-box.row{
    background-color: #02897A;
}
.produst-icon-box.vawe{
    background-color: #4D8DFF;
}
.produst-icon-box.hart{
    background-color: #740A76;
}
.produst-icon-box.clock{
    background-color: #F03E3D;
}
.product-icon-svg{
    fill: #FFFFFF;
}
.product-list-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}
.product-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}
.product-list-btn {
    min-width: 175px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #02897a;
    margin: 0 auto 50px;
}